* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.AppContainer,
.AppHeader {
  flex: 1;
}

.Header {
  cursor: pointer;
}

.Footer {
  margin-top: 3;
  padding: 3;
  text-align: center;
  background-color: #b25c5c;
  color: #fff;
}

.UserModalButton {
  color: white;
  background: #333;
  margin-right: 50px;
  margin-left: 50px;
  flex: 1;
}

.LoginButton {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.SignUpContainer {
  display: flex;
  flex-direction: column;
}

.SignUpTop {
  display: flex;
  gap: 0.7em;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: baseline;
}

.SignUpHeadline {
  color: rgb(187, 185, 185);
  font-size: 1em;
}

.SignUpHeadline-black {
  color: black;
  font-size: 1.5em;
}

.dot {
  color: green;
  font-size: 1.5em;
}

.LoginTextInputs {
  border-radius: 10px;
  margin-bottom: 16px;
}

.LoaderContainer {
  display: flex;
  margin-top: 2;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.LoginTextInputsContainer {
  display: flex;
}

.Success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 0.75rem 1.25rem;
  margin: 1rem 0rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-family: "Poppins";
  text-align: center;
  transition: 0.4s;
  opacity: 0;
  animation: fadeIn 0.4s ease forwards;
}

.ErrorMessage {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  margin: 1rem 0rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-family: "Poppins";
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.4s ease forwards;
}

.player {
  position: absolute;
  background-color: white;
  width: 10px;
  height: 50px;
}

.GameContainer {
  display: flex;
}
.ChatContainer {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  background: white;
}

.ChatContainer .messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.ChatContainer .messages div {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  background: #f0f0f0;
}

.ChatContainer input {
  border: none;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
}

#game-container {
  flex: 2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
